{% extends 'ticketsystem/layout.html' %}

{% block content %}
{% if sender != "PrivacyScore" %}
<div class="col-xs-12 col-md-4 flex-last pull-right text-right">
  <form action="#" method="GET">
    <input type="submit" name="answered" value="Mark as answered" class="btn btn-primary btn-block">
    <input type="hidden" name="id" value="{{ id }}">
  </form>
</div>
{% endif %}
<h3>Details</h3>
<b>Sender:</b><br>{{ sender }}<br>
<b>Recipient:</b><br>{{ receiver }}<br>
<b>Subject:</b><br>{{ subject }}<br>
<b>Text:</b><br>
<textarea disabled rows="15" cols="80">
{{ content }}
</textarea>
<br>

{% endblock %}
