{% extends 'ticketsystem/layout.html' %}

{% block content %}
{% if sender != "PrivacyScore" %}
<div class="col-xs-12 col-md-4 flex-last pull-right text-right">
  <form action="#" method="GET">
    <input type="submit" name="answered" value="Mark as answered" class="btn btn-primary btn-block">
    <input type="hidden" name="id" value="{{ id }}">
  </form>
</div>
{% endif %}
<h3>Details</h3>
<b>Sender:</b><br>{{ sender }}<br>
<b>Recipient:</b><br>{{ receiver }}<br>
<b>Subject:</b><br>{{ subject }}<br>
<b>Text:</b><br>
<textarea disabled rows="15" cols="80">
{{ content|safe }}
</textarea>
<br><br>
<b>Attachments:</b>
<ul>
{% for attachment in attachments %}
  <li>{{ attachment }}</li>
{% endfor %}
</ul>

{% if sender != "PrivacyScore" %}
<br><br>
<h3>Quick Answer</h3>
<form action="{% url 'send' %}" method="POST" id="usrform">
  {% csrf_token %}
  <input type="hidden" size=60 name="receiver" value="{{ sender }}">
  <input type="hidden" value="Re: {{ subject }}" name="title">
  <textarea name="content" form="usrform" rows="15" cols="80"></textarea>
  <input type="submit" value="Send notification" class="btn btn-primary btn-block">
  <input type="hidden" name="url" value="{{ url }}">
  <input type="hidden" name="answer_to" value="{{ id }}">
  <input type="hidden" name="message_id" value="{{ email.message_id }}">
</form>
{% endif %}
{% endblock %}
