{% extends 'ticketsystem/layout.html' %}

{% block content %}

<div class="row">
    <div class="col-xs-12 col-md-3 flex-last pull-right text-right">
        <div class="text-left">
          <input type="submit" value="Re-scan" class="btn btn-primary btn-block">
          <input type="submit" value="Notify (again)" class="btn btn-primary btn-block">
          <input type="submit" value="Prevent Publication" class="btn btn-primary btn-block">
          <input type="submit" value="Publication + 2 Weeks" class="btn btn-primary btn-block">
        </div>
        <br><br>
        <div class="text-left">
          <h4>History</h4>
          <table class="table table-striped table-bordered table-hover">
            {% for event in history %}
            <tr>
              <td>{{ event.date }}</td>
              <td>{{ event.description }}</td>
            </tr>
            {% endfor %}
          </table>
      </div>
    </div>
    <div class="col-xs-12 col-md-8">
      <h3>Basic-Data</h3>
      <b>URL:</b><br><a href="#">{{ url }}</a><br>
      <b>Problem:</b><br>
      {{ description }}<br>
      <b>Current Status:</b><br>{{ status }}<br>
      <b>Publication Date:</b><br>{{ publication_date }}
      <br><br>

      <h3>Communication</h3>
      {% if emails|length > 0 %}
          {% include "ticketsystem/email_table.html" %}
      {% endif %}
      {% if emails|length == 0 %}
        The provider has not yet been informed about the problem.<br>
        The contact email must still be checked and confirmed by a human.<br>
        This process can be done <a href="{% url 'notification' %}?id={{ id }}">here</a>.
      {% endif %}
    </div>
</div>
{% if more_issues_for_url|length > 0 %}
<div class="col-xs-12 col-md-8">
  <h3>Other issues linked to this URL:</h3>
  <ul>
    {% for issue in more_issues_for_url %}
    <li><a href="{% url 'issue' %}?id={{ issue.id }}">{{ issue.problem_class }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% endblock %}
