{% extends 'ticketsystem/layout.html' %}

{% block content %}
<form action="{% url 'send' %}" method="POST" id="usrform">
  {% csrf_token %}
<div class="row">
        <div class="col-xs-12 col-md-3 flex-last pull-right text-left">
            <input type="submit" value="Send notification" class="btn btn-primary btn-block">
            <input type="submit" value="Delete issue" class="btn btn-primary btn-block">
        </div>
        <div class="col-xs-12 col-md-8">
            <h3>Recipient</h3>
            <p>
            Please select one or more recipients (suggestions from the crawler):<br>
            {% for email in issue.possible_addresses %}
            <label><input type="checkbox" name="receiver" value="{{ email }}"> {{ email }}</label>
            ( <a href="#">Source</a> )
            <br>
            {% endfor %}
            </p>
            <p>
            or define your own address:<br>
            <input type="email" size=60 name="receiver">
            </p>
            <p>
            <h3>Subject</h3>
            <input type="text" value="Schwachstellen auf Ihrer Webseite ( {{ issue.url }} )" size=80 name="title">
            </p>
            <p>
            <h3>Body</h3>
            <textarea rows="20" cols="80" name="content" form="usrform">
Sehr geehrte Damen und Herren,
während eines automatisierten Sicherheitsscans ist aufgefallen, dass Ihre Webseite {{ issue.all_issues_for_url|length }} Schwachstelle{{ issue.all_issues_for_url|pluralize:",n" }} aufweist.
Bitte leiten Sie diese E-Mail an Ihre IT-Abteilung, Ihre IT-Administration oder Ihr Sicherheitsmanagement weiter.

{% for issue in issue.all_issues_for_url %}
{{ issue.problem_class.title }}
{{ issue.problem_class.email_body }}


{% endfor %}

Bei Rückfragen können Sie gerne auf diese E-Mail antworten.

Mit freundlichen Grüßen,
Das PrivacyScore Team
            </textarea>
            <input type="hidden" name="url" value="{{ issue.url }}">
            <input type="hidden" name="issue_id" value="{{ issue.id }}">
            </p>
        </div>
</div>
</form>
{% endblock %}
